* {
    background: unset;
    border: unset;
    box-shadow: unset;
    padding: unset;
    outline: unset;
}

.bar {
    background-color: #faf4ed;
    color: #d7827e;
    font-family: 'BalsamiqSans', 'lucide';
    font-size: 25px;
    border-bottom: 5px solid #d7827e;
}

label {
    background-color: transparent;
}

.media {
    margin-left: 5px;
}

.workspaces box {
    color: #d7827e;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.workspaces box.focused {
    color: #ea9d34;
}

.volume {
    color: #d7827e;
    font-size: 20px;
    margin-right: 5px;
}

.notification image {
    color: yellow;
    margin-left: 1em;
}

.clock {
    min-width: 50px;
    font-size: 20px;
    margin-right: 5px;
}

progress,
highlight {
    background-color: aqua;
}