$foreground: #931500;
$background: #E9D4B9;
$border-color: #931500;

window {
  background-color: $background;
  color: $foreground;
  border-bottom: 3px solid $border-color;
  font-family: 'BalsamiqSans', 'Noto Emoji', 'Maple Mono NF', sans-serif;
}